RewriteEngine On

# Loại trừ thư mục uploads khỏi việc rewrite
RewriteCond %{REQUEST_URI} !^/public/uploads/ [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
